My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "d6cd78c0-028a-4c01-943c-a8b2e00f644b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1EYZLpbJrXjHtYXxhTmIkHErXtzRC_czSLY2rOfIUpjM",
          "mode": "list",
          "cachedResultName": "Automation Workflow Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EYZLpbJrXjHtYXxhTmIkHErXtzRC_czSLY2rOfIUpjM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EYZLpbJrXjHtYXxhTmIkHErXtzRC_czSLY2rOfIUpjM/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "62655c04-9a4c-415d-b7f3-7f390e2c72b0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tUTgFqqMGGoKkU7n",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23b8362d-3a7d-44df-8453-6e12d0d8d939",
              "name": "run_id",
              "value": "={{Date.now().toString()}}",
              "type": "string"
            },
            {
              "id": "33a3a32c-7164-4db4-8844-88c2ed15895c",
              "name": "source_key",
              "value": "Google Sheets",
              "type": "string"
            },
            {
              "id": "12e28cd7-abde-48f6-b34d-dc89486fa34d",
              "name": "record_key",
              "value": "={{$json[\"Website\"]}}",
              "type": "string"
            },
            {
              "id": "ac880b9b-704d-4dfb-a59c-0ffcae244011",
              "name": "=status",
              "value": "Processing",
              "type": "string"
            },
            {
              "id": "9dd1c955-c1fd-414a-9f32-994bfe644a3c",
              "name": "processed_at",
              "value": "={{new Date().toISOString()}}",
              "type": "string"
            },
            {
              "id": "f9a08b42-159c-4dab-af99-49be123bedab",
              "name": "retry_count",
              "value": 0,
              "type": "number"
            },
            {
              "id": "3625b315-30f1-4e7d-a0e7-84fc68d9ecbe",
              "name": "error_message",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "84bc7c4b-c3ce-42ab-a39b-a421f613820e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c2bd17bf-9657-4959-9215-b97ef01f5399",
              "leftValue": "={{$json[\"Company Name\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "432be8b1-d7ec-4eb7-ad94-80e37575fc8f",
              "leftValue": "={{$json[\"Website\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "a90f9a21-7561-45fc-9750-e7262f5e5734",
      "name": "If"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "aPtP69dxp8jhlvbx",
          "mode": "list",
          "cachedResultName": "workflow_logs",
          "cachedResultUrl": "/projects/CHJhnvoBOfCEWDy5/datatables/aPtP69dxp8jhlvbx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{$json.run_id}}",
            "source_key": "={{$json.source_key}}",
            "record_key": "={{$json.record_key}}",
            "status": "Processing",
            "processed_at": "={{$json.processed_at}}",
            "retry_count": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_key",
              "displayName": "source_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "record_key",
              "displayName": "record_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        832,
        -96
      ],
      "id": "660bd09e-eac0-4652-a46e-79c7548eabd5",
      "name": "Insert row"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1040,
        -96
      ],
      "id": "2dd77033-a76f-4c36-a953-9aedff2e236a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "rowExists",
        "dataTableId": {
          "__rl": true,
          "value": "aPtP69dxp8jhlvbx",
          "mode": "list",
          "cachedResultName": "workflow_logs",
          "cachedResultUrl": "/projects/CHJhnvoBOfCEWDy5/datatables/aPtP69dxp8jhlvbx"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "record_key",
              "keyValue": "={{$json.record_key}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1248,
        112
      ],
      "id": "433acd43-8909-450e-b1ea-4709ce668082",
      "name": "If row exists"
    },
    {
      "parameters": {
        "url": "https://dummyjson.com/products/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1488,
        112
      ],
      "id": "8bb71654-75ec-4748-860f-e82cb31955b5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1728,
        112
      ],
      "id": "b85a9ac5-9b2f-40db-b6b3-ea20a64e8a7b",
      "name": "Wait",
      "webhookId": "717a70cb-dd2d-4a35-9903-2a6e88f9cf38"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bbe60551-7079-43e0-ac02-00ee97badef6",
              "name": "Company Name",
              "value": "={{$node[\"Get row(s) in sheet\"].json[\"Company Name\"]}}",
              "type": "string"
            },
            {
              "id": "f56e14ce-e9a3-4d5b-b8a8-bb69e8ed1958",
              "name": "Website",
              "value": "={{$node[\"Get row(s) in sheet\"].json[\"Website\"]}}",
              "type": "string"
            },
            {
              "id": "91297a41-672b-4c68-8a48-cdf0cca03ab7",
              "name": "Country",
              "value": "={{$node[\"Get row(s) in sheet\"].json[\"Country\"]}}",
              "type": "string"
            },
            {
              "id": "05cb5f5b-5c8d-445b-9c7d-bcd666a515d5",
              "name": "Status",
              "value": "Success",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        112
      ],
      "id": "d10b8364-5c92-429e-8548-fc4f72008cf5",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "61eb52ab-a918-412d-8f4b-ed664dcd7183",
              "leftValue": "={{$json[\"Company Name\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "939dc669-0530-4520-a8f0-3abaf2e9cdde",
              "leftValue": "={{$json[\"Website\"]}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2144,
        112
      ],
      "id": "5d98c796-8b44-4f69-bbc8-88a267535262",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1EYZLpbJrXjHtYXxhTmIkHErXtzRC_czSLY2rOfIUpjM",
          "mode": "list",
          "cachedResultName": "Automation Workflow Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EYZLpbJrXjHtYXxhTmIkHErXtzRC_czSLY2rOfIUpjM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1354736268,
          "mode": "list",
          "cachedResultName": "Output",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EYZLpbJrXjHtYXxhTmIkHErXtzRC_czSLY2rOfIUpjM/edit#gid=1354736268"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{$json[\"Company Name\"]}}",
            "Website": "={{$json[\"Website\"]}}",
            "Country": "={{$json[\"Country\"]}}",
            "Status": "Success"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2352,
        16
      ],
      "id": "e6d75b4f-8dbe-471c-bf28-4be8d167b1ad",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tUTgFqqMGGoKkU7n",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If row exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row exists": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0afbc846-4fe5-4250-bb2a-b8c72ae6def6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80d271ce5841226b65974ee140f2fc2d4e1f4f4842ff818331c902efd7d2abdc"
  },
  "nodeGroups": [],
  "id": "194I2dFBgLCzXr42",
  "tags": []
}